extends layout

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/game_multi.js')
    script.
        var data = !{JSON.stringify(data)};
    
block content
    h1= title
    div#game
        div(data-bind="visible: phase() === 'init' || !isNaN(currentPlayerIndex())")
            h2 Current Player
            <!-- ko with: currentPlayer -->
            table
                tr
                    td Name
                    td(data-bind="visible: $parent.phase() !== 'init'")
                        div(data-bind="text: name")
                    td(data-bind="visible: $parent.phase() === 'init'")
                        input#player-name(data-bind="value: name", placeholder="Enter player name")
                        button(data-bind="click: save") OK
                tr(data-bind="visible: $parent.phase() !== 'init'")
                    td Affiliation
                    td(data-bind="text: affiliationName")
                tr(data-bind="visible: $parent.phase() === 'init'")
                    td Ready?
                    td
                        input(type="checkbox", data-bind="checked: isReady")
                tr(data-bind="visible: $parent.debug")
                    td Id
                    td(data-bind="text: id")
                tr(data-bind="visible: $parent.phase() === 'nominate' && $parent.leaderIndex() === $parent.currentPlayerIndex()")
                    td Nominate
                        div(data-bind="text: 'Team Size: ' + $parent.teamSize()")
                        <!-- ko foreach: $parent.players -->
                        div
                            input(type="checkbox", data-bind="checked: isSelected")
                            span(data-bind="text: name")
                        <!-- /ko -->
                        button(data-bind="click: $parent.submitNominees") OK
                tr(data-bind="visible: $parent.phase() === 'vote'")
                    td Vote
                    td
                        button(data-bind="click: vote.bind($data, true)") Approve
                        button(data-bind="click: vote.bind($data, false)") Reject
                tr(data-bind="visible: $parent.phase() === 'mission' && nominee()")
                    td Mission
                    td
                        button(data-bind="click: mission.bind($data, true)") Succeed
                        button(data-bind="click: mission.bind($data, false)") Fail
            <!-- /ko -->
        div(data-bind="visible: phase() !== 'init'")
            h2 Game
            table
                tr(data-bind="visible: hasTeamMates")
                    td Teammates
                    td
                        div(data-bind="foreach: teamMates")
                            span(data-bind="text: name")
                tr
                    td Score
                    td
                        div(data-bind="foreach: scores")
                            span(data-bind="text: $data")
                tr
                    td Current Round
                    td(data-bind="text: currentRound() + 1")
                tr
                    td Phase
                    td(data-bind="text: phase")
                tr
                    td Team Size
                    td(data-bind="text: teamSize")
                tr
                    td Candidates
                    td
                        <!-- ko foreach: candidates -->
                        div(data-bind="text: name")
                        <!-- /ko -->
        div(data-bind="visible: phase() !== 'final'")
            h2 Players
            <!-- ko foreach: players -->
            div(data-bind="text: name() + ($index() === $parent.leaderIndex() ? ' *' : '') + ($parent.phase() === 'init' && isReady() ? ' (ready)' : '')")
            <!-- /ko -->
        div(data-bind="visible: debug")
            h2 Impersonate
            button(data-bind="click: unimpersonate") unimpersonate
            table
                tr
                    th Impersonate
                    th Id
                    th Name
                    th isReady
                    th Vote
                    th Mission
                <!-- ko foreach: players -->
                tr
                    td
                        button(data-bind="click: impersonate") impersonate
                    td(data-bind="text: id")
                    td
                        input(data-bind="value: name", placeholder="Enter player name")
                    td
                        input(type="checkbox", data-bind="checked: isReady")
                        button(data-bind="click: save") OK
                    td
                        button(data-bind="click: vote.bind($data, true)") Approve
                        button(data-bind="click: vote.bind($data, false)") Reject
                    td
                        button(data-bind="click: mission.bind($data, true)") Succeed
                        button(data-bind="click: mission.bind($data, false)") Fail
                <!-- /ko -->
        div(data-bind="visible: phase () !== 'init'")
            h2 History
            <!-- ko foreach: rounds -->
            h3
                span(data-bind="text: 'Round ' + ($index() + 1)")
            table
                tr
                    td Success
                    td(data-bind="text: result")
                tr
                    td Failed nominations
                    td(data-bind="text: failedVoteCount")
                tr
                    td Mission failures
                    td(data-bind="text: failCount")
            <!-- ko foreach: history -->
            h4(data-bind="text: 'Team ' + ($index() + 1)")
            table
                tr
                    td Leader
                    td(data-bind="text: leader().name")
                tr
                    td Approve
                    td(data-bind="text: voteCounts().approveCount")
                tr
                    td Reject
                    td(data-bind="text: voteCounts().rejectCount")
                tr
                    td Team
                    td
                        <!-- ko foreach: teamMembers -->
                        div(data-bind="text: name")
                        <!-- /ko -->
                tr
                    td Votes
                    td
                        <!-- ko foreach: playerIterations -->
                        div
                            span(data-bind="text: name")
                            span : 
                            span(data-bind="text: voteDecision")
                        <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->