extends layout

block scripts
    link(rel='stylesheet', href='/styles/game.css')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/game_multi.js')
    script(src='/scripts/jquery.layout-latest.js')
    script.
        var data = !{JSON.stringify(data)};
    
block content
    div#game
        div.main-window.ui-layout-center
            div.header
                if req.user
                    div
                        a#user-name(href="#")= req.user.name
                    div
                        a(href="/logout") Logout
                else
                    div
                        a(href="/login") Login
                div
                    a(href="/") Back
            h1
                if req.debug
                    a(href="/" + data.game.id + "/_api/game", target="_blank")= data.game.id
                else
                    span= data.game.id
            <!-- ko with: currentPlayer -->
            div(data-bind="visible: $parent.phase() === 'init'")
                button(data-bind="visible: playerIndex() === -1, click: join, disable: $parent.inProgress") Join
                div(data-bind="visible: playerIndex() !== -1")
                    button(data-bind="click: leave, disable: $parent.inProgress") Leave
                    input#isReady(type="checkbox", data-bind="checked: isReady, click: save, disable: $parent.inProgress")
                    label(for="isReady") Is everybody ready?
            div(data-bind="visible: $parent.phase() !== 'init' && playerIndex() !== -1", style="margin-bottom: 20px;")
                a(href="#", data-bind="click: displayAffiliation") Show Affiliation
            div(data-bind="visible: $parent.phase() !== 'final'")
                div(data-bind="visible: $parent.failuresNeeded() == 2", style="margin-bottom: 10px;") Note: you need 2 failures this round to fail the mission
            div(data-bind="visible: $parent.phase() === 'nominate'")
                div(data-bind="visible: $parent.isLeader() && playerIndex() !== -1")
                    div(data-bind="text: 'Choose ' + $parent.teamSize() + ' team members.  You may also choose yourself.'", style="margin-bottom: 10px;")
                    <!-- ko foreach: $parent.players -->
                    div
                        input(type="checkbox", data-bind="checked: isSelected, attr: { id: 'nominate' + $index() }")
                        label(data-bind="text: name, attr: { for: 'nominate' + $index() }")
                    <!-- /ko -->
                    button(data-bind="click: $parent.nominate, disable: $parent.inProgress() || !$parent.readyToNominate()", style="margin-top: 10px;") OK
                div(data-bind="if: $parent.currentLeader, visible: !$parent.isLeader()")
                    div(data-bind="text: 'Waiting for ' + $parent.currentLeader().name() + ' to choose ' + $parent.teamSize() + ' team members...'")
            div(data-bind="visible: $parent.phase() === 'vote'")
                div(style="margin-bottom: 10px;") Approve or reject the following team:
                <!-- ko foreach: $parent.candidates -->
                div(data-bind="text: name")
                <!-- /ko -->
                div(data-bind="visible: playerIndex() !== -1", style="margin-top: 10px;")
                    input#approveVote.toggle-button(type="checkbox", data-bind="checked: voteApproved(), click: vote.bind($data, true), disable: $parent.inProgress")
                    label(for="approveVote") Approve
                    input#rejectVote.toggle-button(type="checkbox", data-bind="checked: voteRejected(), click: vote.bind($data, false), disable: $parent.inProgress")
                    label(for="rejectVote") Reject
            div(data-bind="visible: $parent.phase() === 'mission'")
                div(data-bind="visible: nominee")
                    div(style="margin-bottom: 10px;") Choose an outcome for the mission:
                    input#succeedMission.toggle-button(type="checkbox", data-bind="checked: missionSucceeded(), click: mission.bind($data, true), disable: $parent.inProgress")
                    label(for="succeedMission") Succeed
                    input#failMission.toggle-button(type="checkbox", data-bind="checked: missionFailed(), click: mission.bind($data, false), disable: $parent.inProgress")
                    label(for="failMission") Sabotage
                div(data-bind="visible: !nominee()")
                    div Waiting for the team go on the mission...
            div(data-bind="visible: $parent.phase() === 'final'")
                div(style="margin-bottom: 10px;") Game Over
                div(data-bind="text: $parent.finalGameResult")
                div(style="margin-top: 20px; margin-bottom: 10px;") Mafia:
                <!-- ko foreach: $parent.mafiaPlayers -->
                div(data-bind="text: name")
                <!-- /ko -->
            <!-- /ko -->

            h2(data-bind="visible: scores().length") Score
            div(data-bind="foreach: scores")
                div.icon(data-bind="css: $data ? 'success' : 'fail'")

            h2(data-bind="visible: failedNominations().length") Failed Votes
            div(data-bind="foreach: failedNominations")
                div.icon.failed-nomination
            
        div.history-window.ui-layout-west
            h2 Players
            div(data-bind="visible: players().length === 0") No players
            <!-- ko foreach: players -->
            div
                span(data-bind="text: name")
                span(data-bind="visible: $index() === $parent.leaderIndex()") (leader)
                span(data-bind="visible: $parent.phase() === 'init' && isReady()") (ready)
                span(data-bind="visible: hasVoted") (voted)
                span(data-bind="visible: hasMissioned") (missioned)
            <!-- /ko -->
            div(data-bind="visible: playerRounds().length")
                h2 History
                table
                    thead
                        tr
                            th.history-header(style="text-align: left;") Round
                            <!-- ko foreach: playerRoundHeaders -->
                            th.history-header(data-bind="text: roundIndex + 1, attr: { colspan: $root.historyOptions.showIterations() ? iterationCount : 1 }")
                            <!-- /ko -->
                    tbody(data-bind="foreach: playerRounds")
                        tr
                            td.history-name(data-bind="text: name, attr: { title: name }")
                            <!-- ko foreach: history -->
                            td.history-entry(data-bind="visible: $root.historyOptions.showIterations() || isLastIteration, css: { leader: isLeader, success: isLastIteration && succeeded, fail: isLastIteration && succeeded === false }")
                                div.vote(data-bind="visible: !$root.historyOptions.showTeamMembersOnly() || iteration.teamMember, css: { approve: ($root.historyOptions.showVotes() === 'all' || $root.historyOptions.showVotes() === 'approved') && iteration.vote(), reject: ($root.historyOptions.showVotes() === 'all' || $root.historyOptions.showVotes() === 'rejected') && iteration.vote() === false, 'team-member': iteration.teamMember }")
                            <!-- /ko -->
                h3 Options
                <!-- ko with: historyOptions -->
                div.history-option
                    input#showIterations(type="checkbox", data-bind="checked: showIterations")
                    label(for="showIterations") Show Failed Nominations
                div.history-option
                    div.show-votes Show Votes:
                    div.show-votes
                        input#showVotesAll(type="radio", name="showVotes", value="all", data-bind="checked: showVotes")
                        label(for="showVotesAll") All
                    div.show-votes
                        input#showVotesApproved(type="radio", name="showVotes", value="approved", data-bind="checked: showVotes")
                        label(for="showVotesApproved") Approved
                    div.show-votes
                        input#showVotesRejected(type="radio", name="showVotes", value="rejected", data-bind="checked: showVotes")
                        label(for="showVotesRejected") Rejected
                    div.show-votes
                        input#showVotesNone(type="radio", name="showVotes", value="none", data-bind="checked: showVotes")
                        label(for="showVotesNone") None
                div.history-option(data-bind="visible: showVotes() !== 'none'")
                    input#showTeamMembersOnly(type="checkbox", data-bind="checked: showTeamMembersOnly")
                    label(for="showTeamMembersOnly") Show Only Team Members
                h3 Legend
                table
                    tr
                        td Mission Leader
                        td.history-entry.leader
                    tr
                        td Mission Success
                        td.history-entry.success
                    tr
                        td Mission Failure
                        td.history-entry.fail
                    tr
                        td Team Member
                        td.history-entry
                            div.vote.team-member
                    tr(data-bind="visible: showVotes() !== 'none'")
                        td Approved Vote
                        td.history-entry
                            div.vote.approve
                    tr(data-bind="visible: showVotes() !== 'none'")
                        td Rejected Vote
                        td.history-entry
                            div.vote.reject
                <!-- /ko -->
        if req.debug
            div.ui-layout-south
                <!-- ko with: currentPlayer -->
                h2 Current Player
                table
                    tr
                        td Name
                        td
                            div(data-bind="text: name")
                    tr
                        td Affiliation
                        td(data-bind="text: affiliationName")
                    tr
                        td Init
                        td
                            button(data-bind="click: join") Join
                            button(data-bind="click: leave") Leave
                            div
                                input#isReady(type="checkbox", data-bind="checked: isReady, click: save")
                                label(for="isReady") Ready?
                    tr
                        td(data-bind="text: 'Nominate ' + $parent.teamSize()")
                        td
                            <!-- ko foreach: $parent.players -->
                            div
                                input(type="checkbox", data-bind="checked: isSelected, attr: { id: 'nominate' + $index() }")
                                label(data-bind="text: name, attr: { for: 'nominate' + $index() }")
                            <!-- /ko -->
                            button(data-bind="click: $parent.nominate") OK
                    tr
                        td Vote
                        td
                            input#approveVote.toggle-button(type="checkbox", data-bind="checked: voteApproved(), click: vote.bind($data, true)")
                            label(for="approveVote") Approve
                            input#rejectVote.toggle-button(type="checkbox", data-bind="checked: voteRejected(), click: vote.bind($data, false)")
                            label(for="rejectVote") Reject
                        td(data-bind="text: voteApprove")
                    tr
                        td Mission
                        td
                            input#succeedMission.toggle-button(type="checkbox", data-bind="checked: missionSucceeded(), click: mission.bind($data, true)")
                            label(for="succeedMission") Succeed
                            input#failMission.toggle-button(type="checkbox", data-bind="checked: missionFailed(), click: mission.bind($data, false)")
                            label(for="failMission") Fail
                        td(data-bind="text: missionSuccess")
                <!-- /ko -->
                h2 Game
                table
                    tr
                        td Mafia
                        td
                            <!-- ko foreach: mafiaPlayers -->
                            div(data-bind="text: name")
                            <!-- /ko -->
                    tr
                        td Score
                        td
                            <!-- ko foreach: scores -->
                            div(data-bind="text: $data")
                            <!-- /ko -->
                    tr
                        td Current Round
                        td(data-bind="text: currentRound() + 1")
                    tr
                        td Phase
                        td(data-bind="text: phase")
                    tr
                        td Team Size
                        td(data-bind="text: teamSize")
                    tr(data-bind="visible: phase() !== 'nominate'")
                        td Candidates
                        td
                            <!-- ko foreach: candidates -->
                            div(data-bind="text: name")
                            <!-- /ko -->
                h2(data-bind="visible: players().length") Players
                <!-- ko foreach: players -->
                div
                    span(data-bind="text: name")
                    span(data-bind="visible: $index() === $parent.leaderIndex()") (leader)
                    span(data-bind="visible: $parent.phase() === 'init' && isReady()") (ready)
                    span(data-bind="visible: hasVoted") (voted)
                    span(data-bind="visible: hasMissioned") (missioned)
                <!-- /ko -->
                h2 Impersonate
                button(data-bind="click: unimpersonate") unimpersonate
                table
                    tr
                        th Impersonate
                        th Id
                        th Name
                        th Actions
                        th Vote
                        th Mission
                    <!-- ko foreach: players -->
                    tr
                        td
                            button(data-bind="click: impersonate") impersonate
                        td(data-bind="text: id")
                        td(data-bind="text: name")
                        td
                            input(type="checkbox", data-bind="checked: isReady, attr: { id: 'isReady' + $index() }")
                            label(data-bind="attr: { for: 'isReady' + $index() }") Ready?
                            button(data-bind="click: save") Save
                            button(data-bind="click: join") Join
                            button(data-bind="click: leave") Leave
                        td
                            button(data-bind="click: vote.bind($data, true)") Approve
                            button(data-bind="click: vote.bind($data, false)") Reject
                        td
                            button(data-bind="click: mission.bind($data, true)") Succeed
                            button(data-bind="click: mission.bind($data, false)") Fail
                    <!-- /ko -->
        
        div.chat-window.ui-layout-east
            <!-- ko foreach: chatMessages -->
            div.chat-message
                span.chat-user(data-bind="visible: user, text: user() && user().name()")
                span.chat-text(data-bind="text: message, css: { 'system-message': !user() }")
                span.timestamp(data-bind="text: timestampDisplay, attr: { title: timestamp }")
            <!-- /ko -->
            textarea.chat-input(data-bind="value: newMessage, valueUpdate: 'afterkeypress', event: { keypress: onKeyPress }", placeholder="Say something...")
            input#autoScroll(type="checkbox", data-bind="checked: autoScroll")
            label(for="autoScroll") Autoscroll