extends layout

block scripts
    link(rel='stylesheet', href='/styles/game.css')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/game_multi.js')
    script.
        var data = !{JSON.stringify(data)};
    
block content
    div
        a(href="/") Back
    h1
        if req.debug
            a(href="/" + data.game.id + "/_api/game", target="_blank")= data.game.id
        else
            span= data.game.id
    div#game
        div.chat-window
            <!-- ko foreach: chatMessages -->
            div
                span(data-bind="text: user.name + ': ' + message")
            <!-- /ko -->
            input(data-bind="value: newMessage, valueUpdate: 'afterkeypress', event: { keypress: onKeyPress }", placeholder="Say something...")
            input#autoScroll(type="checkbox", data-bind="checked: autoScroll")
            label(for="autoScroll") Autoscroll
        <!-- ko with: currentPlayer -->
        div
            div(data-bind="visible: $parent.phase() === 'init'")
                button(data-bind="visible: playerIndex() === -1, click: join") Join
                div(data-bind="visible: playerIndex() !== -1")
                    button(data-bind="click: leave") Leave
                    input#isReady(type="checkbox", data-bind="checked: isReady, click: save")
                    label(for="isReady") Is everybody ready?
            div(data-bind="visible: $parent.phase() !== 'init'", style="margin-bottom: 20px;")
                a(href="#", data-bind="click: displayAffiliation") Show Affiliation
            div(data-bind="visible: $parent.phase() !== 'final'")
                div(data-bind="visible: $parent.failuresNeeded() == 2", style="margin-bottom: 10px;") Note: you need 2 failures this round to fail the mission
            div(data-bind="visible: $parent.phase() === 'nominate'")
                div(data-bind="visible: $parent.isLeader")
                    div(data-bind="text: 'Choose ' + $parent.teamSize() + ' team members:'", style="margin-bottom: 10px;")
                    <!-- ko foreach: $parent.players -->
                    div
                        input(type="checkbox", data-bind="checked: isSelected, attr: { id: 'nominate' + $index() }")
                        label(data-bind="text: name, attr: { for: 'nominate' + $index() }")
                    <!-- /ko -->
                    button(data-bind="click: $parent.submitNominees", style="margin-top: 10px;") OK
                div(data-bind="if: $parent.currentLeader, visible: !$parent.isLeader()")
                    div(data-bind="text: 'Waiting for ' + $parent.currentLeader().name() + ' to choose ' + $parent.teamSize() + ' team members...'")
            div(data-bind="visible: $parent.phase() === 'vote'")
                div(style="margin-bottom: 10px;") Approve or reject the following team:
                <!-- ko foreach: $parent.candidates -->
                div(data-bind="text: name")
                <!-- /ko -->
                div(style="margin-top: 10px;")
                    input#approveVote.toggle-button(type="checkbox", data-bind="checked: voteApproved(), click: vote.bind($data, true)")
                    label(for="approveVote") Approve
                    input#rejectVote.toggle-button(type="checkbox", data-bind="checked: voteRejected(), click: vote.bind($data, false)")
                    label(for="rejectVote") Reject
            div(data-bind="visible: $parent.phase() === 'mission'")
                div(data-bind="visible: nominee")
                    div(style="margin-bottom: 10px;") Choose an outcome for the mission:
                    input#succeedMission.toggle-button(type="checkbox", data-bind="checked: missionSucceeded(), click: mission.bind($data, true)")
                    label(for="succeedMission") Succeed
                    input#failMission.toggle-button(type="checkbox", data-bind="checked: missionFailed(), click: mission.bind($data, false)")
                    label(for="failMission") Sabotage
                div(data-bind="visible: !nominee()")
                    div Waiting for the team go on the mission...
            div(data-bind="visible: $parent.phase() === 'final'")
                div(style="margin-bottom: 10px;") Game Over
                div(data-bind="visible: playerIndex() !== -1 && affiliation() === $parent.winningAffiliation()") You win!
                div(data-bind="visible: playerIndex() !== -1 && affiliation() !== $parent.winningAffiliation()") You lose!
                div(style="margin-top: 20px; margin-bottom: 10px;") Mafia:
                <!-- ko foreach: $parent.mafiaPlayers -->
                div(data-bind="text: name")
                <!-- /ko -->
        <!-- /ko -->
        h2(data-bind="visible: scores().length") Score
        div(data-bind="foreach: scores")
            img.score(data-bind="attr: { src: $data ? '/images/ok.png' : '/images/cancel.png' }")
        
        h2(data-bind="visible: players().length") Players
        <!-- ko foreach: players -->
        div
            span(data-bind="text: name")
            span(data-bind="visible: $index() === $parent.leaderIndex()") (leader)
            span(data-bind="visible: $parent.phase() === 'init' && isReady()") (ready)
            span(data-bind="visible: hasVoted") (voted)
            span(data-bind="visible: hasMissioned") (missioned)
        <!-- /ko -->
        <!-- ko with: currentPlayer -->
        div(data-bind="visible: $parent.debug")
            h2 Current Player
            table
                tr
                    td Name
                    td
                        div(data-bind="text: name")
                tr
                    td Affiliation
                    td(data-bind="text: affiliationName")
                tr
                    td Init
                    td
                        button(data-bind="click: join") Join
                        button(data-bind="click: leave") Leave
                        div
                            input#isReady(type="checkbox", data-bind="checked: isReady, click: save")
                            label(for="isReady") Ready?
                tr
                    td(data-bind="text: 'Nominate ' + $parent.teamSize()")
                    td
                        <!-- ko foreach: $parent.players -->
                        div
                            input(type="checkbox", data-bind="checked: isSelected, attr: { id: 'nominate' + $index() }")
                            label(data-bind="text: name, attr: { for: 'nominate' + $index() }")
                        <!-- /ko -->
                        button(data-bind="click: $parent.submitNominees") OK
                tr
                    td Vote
                    td
                        input#approveVote.toggle-button(type="checkbox", data-bind="checked: voteApproved(), click: vote.bind($data, true)")
                        label(for="approveVote") Approve
                        input#rejectVote.toggle-button(type="checkbox", data-bind="checked: voteRejected(), click: vote.bind($data, false)")
                        label(for="rejectVote") Reject
                    td(data-bind="text: voteApprove")
                tr
                    td Mission
                    td
                        input#succeedMission.toggle-button(type="checkbox", data-bind="checked: missionSucceeded(), click: mission.bind($data, true)")
                        label(for="succeedMission") Succeed
                        input#failMission.toggle-button(type="checkbox", data-bind="checked: missionFailed(), click: mission.bind($data, false)")
                        label(for="failMission") Fail
                    td(data-bind="text: missionSuccess")
        <!-- /ko -->
        div(data-bind="visible: debug")
            h2 Game
            table
                tr
                    td Mafia
                    td
                        <!-- ko foreach: mafiaPlayers -->
                        div(data-bind="text: name")
                        <!-- /ko -->
                tr
                    td Score
                    td
                        <!-- ko foreach: scores -->
                        div(data-bind="text: $data")
                        <!-- /ko -->
                tr
                    td Current Round
                    td(data-bind="text: currentRound() + 1")
                tr
                    td Phase
                    td(data-bind="text: phase")
                tr
                    td Team Size
                    td(data-bind="text: teamSize")
                tr(data-bind="visible: phase() !== 'nominate' || debug")
                    td Candidates
                    td
                        <!-- ko foreach: candidates -->
                        div(data-bind="text: name")
                        <!-- /ko -->
            h2(data-bind="visible: players().length") Players
            <!-- ko foreach: players -->
            div
                span(data-bind="text: name")
                span(data-bind="visible: $index() === $parent.leaderIndex()") (leader)
                span(data-bind="visible: $parent.phase() === 'init' && isReady()") (ready)
                span(data-bind="visible: hasVoted") (voted)
                span(data-bind="visible: hasMissioned") (missioned)
            <!-- /ko -->
            h2 Impersonate
            button(data-bind="click: unimpersonate") unimpersonate
            table
                tr
                    th Impersonate
                    th Id
                    th Name
                    th Actions
                    th Vote
                    th Mission
                <!-- ko foreach: players -->
                tr
                    td
                        button(data-bind="click: impersonate") impersonate
                    td(data-bind="text: id")
                    td(data-bind="text: name")
                    td
                        input(type="checkbox", data-bind="checked: isReady, attr: { id: 'isReady' + $index() }")
                        label(data-bind="attr: { for: 'isReady' + $index() }") Ready?
                        button(data-bind="click: save") Save
                        button(data-bind="click: join") Join
                        button(data-bind="click: leave") Leave
                    td
                        button(data-bind="click: vote.bind($data, true)") Approve
                        button(data-bind="click: vote.bind($data, false)") Reject
                    td
                        button(data-bind="click: mission.bind($data, true)") Succeed
                        button(data-bind="click: mission.bind($data, false)") Fail
                <!-- /ko -->
            h2 History
            <!-- ko foreach: rounds -->
            h3
                span(data-bind="text: 'Round ' + ($index() + 1)")
            table
                tr
                    td Success
                    td(data-bind="text: result")
                tr
                    td Failed nominations
                    td(data-bind="text: failedVoteCount")
                tr
                    td Mission failures
                    td(data-bind="text: failCount")
            <!-- ko foreach: history -->
            h4(data-bind="text: 'Team ' + ($index() + 1)")
            table
                tr
                    td Leader
                    td(data-bind="text: leader().name")
                tr
                    td Team
                    td
                        <!-- ko foreach: teamMembers -->
                        div(data-bind="text: name")
                        <!-- /ko -->
                tr
                    td Approve
                    td(data-bind="text: voteCounts().approveCount")
                tr
                    td Reject
                    td(data-bind="text: voteCounts().rejectCount")
                tr
                    td Votes
                    td
                        <!-- ko foreach: playerIterations -->
                        div
                            span(data-bind="text: name")
                            span : 
                            span(data-bind="text: voteDecision")
                        <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->