extends layout

block scripts
    script(src='/scripts/game_multi.js')
    script.
        var data = !{JSON.stringify(data)};
        var game = data.game;
    
block content
    h1= title
    h2 Current Player
    div#currentPlayer
        div(data-bind="text: id")
        input#player-name(data-bind="value: name", placeholder="Enter player name")
        input(type="checkbox", data-bind="checked: isReady")
        button(data-bind="click: save") OK
    div#game
        h2 Game
        table
            tr
                td Current Round
                td(data-bind="text: currentRound + 1")
            tr
                td Leader Index
                td(data-bind="text: leaderIndex")
            tr
                td Phase
                td(data-bind="text: phase")
            tr
                td Team Size
                td(data-bind="text: teamSize")
        h2 Players
        button(data-bind="click: unimpersonate") unimpersonate
        table
            tr
                th Impersonate
                th Index
                th Id
                th Name
                th isReady
                th nominee
                th Vote
                th Mission
            <!-- ko foreach: players -->
            tr
                td
                    button(data-bind="click: impersonate") impersonate
                td(data-bind="text: playerIndex")
                td(data-bind="text: id")
                td
                    input(data-bind="value: name", placeholder="Enter player name")
                td
                    input(type="checkbox", data-bind="checked: isReady")
                    button(data-bind="click: save") OK
                td(data-bind="text: nominee")
                td
                    button(data-bind="click: vote.bind($data, true)") Approve
                    button(data-bind="click: vote.bind($data, false)") Reject
                td
                    button(data-bind="click: mission.bind($data, true)") Succeed
                    button(data-bind="click: mission.bind($data, false)") Fail
            <!-- /ko -->
        h2 Nominate
        <!-- ko foreach: nominees -->
        div
            input(type="checkbox", data-bind="checked: isSelected")
            span(data-bind="text: name")
        <!-- /ko -->
        button(data-bind="click: submitNominees") OK
        h2 Rounds
        <!-- ko foreach: rounds -->
        h3
            span Round 
            span(data-bind="text: $index() + 1")
        table
            tr
                td Success
                td(data-bind="text: result")
            tr
                td Failed nominations
                td(data-bind="text: failedVoteCount")
            tr
                td Mission failures
                td(data-bind="text: failCount")
        <!-- ko foreach: history -->
        h4(data-bind="text: 'Team ' + ($index() + 1)")
        table
            tr
                td Leader
                td(data-bind="text: leader().name")
            tr
                td Approve
                td(data-bind="text: voteCounts().approveCount")
            tr
                td Reject
                td(data-bind="text: voteCounts().rejectCount")
            tr
                td Team
                td
                    <!-- ko foreach: teamMembers -->
                    div(data-bind="text: name")
                    <!-- /ko -->
            tr
                td Votes
                td
                    <!-- ko foreach: playerIterations -->
                    div
                        span(data-bind="text: name")
                        span : 
                        span(data-bind="text: voteDecision")
                    <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->