doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        script(src='/scripts/jquery-2.0.2.js')
        script(src='/scripts/jquery-ui-1.10.3.js')
        script(src='/scripts/knockout-2.2.1.js')
        block scripts

    body
        block content