doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        link(rel='stylesheet', href='/css/dark-hive/jquery-ui-1.10.3.custom.css')
        script(src='/scripts/jquery-2.0.2.js')
        script(src='/js/jquery-ui-1.10.3.custom.js')
        script(src='/scripts/knockout-2.2.1.js')
        script(src='/scripts/knockout.mapping-latest.debug.js')
        block scripts

    body
        block content