extends layout

block scripts
    link(rel='stylesheet', href='/styles/login.css')
    script(src='/scripts/login.js')
    script.
        var referer = '!{req.session.referer || ''}';

block content
    div.header
        if req.user
            div
                a#user-name(href="#")= req.user.name
            div
                a(href="/logout") Logout
    h1= title
    div.login(data-url="/auth/facebook", data-bind="click: login")
        img.facebook(src="/images/Facebook.png")
        div.name Facebook
    div.login(data-url="/auth/google", data-bind="click: login")
        img.google(src="/images/Google Plus.png")
        div.name Google
    div.login(data-bind="click: createGuest")
        img.guest(src="/images/User-Login.png")
        div.name Guest