extends layout

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/start.js')

block content
    h1= title
    h3 New Game
    button(data-bind="click: startSingle") Create
    h3 Join Game
    input(data-bind="value: joinGameId, valueUpdate: ['afterkeypress', 'input'], event: { keypress: onKeyPress }", placeholder="Enter game code")
    button(data-bind="click: join") Join
    div(data-bind="visible: false")
        h2 Single Device
        div(data-bind="foreach: players")
            input(data-bind="value: name, event: { keypress: $parent.onKeyPress }, hasfocus: hasFocus")
        button(data-bind="click: addPlayer") Add player
        button(data-bind="click: startMulti") Start