body
{
    margin: 50px;
}

body, textarea
{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
    color: #00B7FF;
}

.header div
{
    display: inline;
}

.header div:before
{
    content: ' - ';
}
.header div:first-child:before
{
    content: '';
}