.icon
{
    height: 30px;
    width: 30px;
}
.chat-window
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    word-break: break-word;
    overflow: auto;
    padding: 20px;
    border-left: 1px solid #ccc
}